// colors
$veryDarkGrayishBlue: hsl(217, 19%, 35%);
$desaturatedDarkBlue: hsl(214, 17%, 51%);
$grayishBlue: hsl(212, 23%, 69%);
$lightGrayishBlue: hsl(210, 46%, 95%);

// font
$font-small: 13px;

// shadow
$shadow : 5px 10px 18px 5px  hsl(210, 29%, 86%);
    

