* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  font-size: 13px;
  line-height: 1.5;
  color: #48556a;
  background-color: #ecf2f8;
  overflow: hidden;
}

@media (max-width: 63.9375em) {
  body {
    overflow: scroll;
  }
}

.grid {
  display: -ms-grid;
  display: grid;
  row-gap: 3.3vh;
      grid-template-areas: "img" "text" "footer";
}

@media (min-width: 64rem) {
  .grid {
        grid-template-areas: "img text" "img text" "img footer";
    -webkit-column-gap: 2.625rem;
            column-gap: 2.625rem;
    row-gap: 0;
  }
}

@media (max-width: 21.875em) {
  .grid {
    row-gap: 1vh;
  }
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 87.4vw;
  height: 77vh;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 5px 10px 18px 5px #d1dbe6;
          box-shadow: 5px 10px 18px 5px #d1dbe6;
}

@media (min-width: 64rem) {
  .main {
    width: 51vw;
    height: 35.1vh;
  }
}

@media (max-width: 21.875em) {
  .main {
    height: 90vh;
  }
}

.main__image {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: img;
  width: 87.4vw;
  display: block;
  height: 26vh;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

@media (min-width: 64rem) {
  .main__image {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: img;
    width: 20vw;
    min-height: 35.1vh;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
  }
}

.main__text {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: text;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: left;
}

@media (min-width: 64rem) {
  .main__text {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: text;
    padding-left: 0;
    padding-right: 32px;
    padding-top: 1vh;
    height: 24vh;
  }
}

@media (min-width: 87.25rem) {
  .main__text {
    padding-top: 2vh;
    padding-bottom: 2vh;
  }
}

.main__text > h4 {
  font-size: 1.125rem;
}

@media (min-width: 87.25rem) {
  .main__text > h4 {
    font-weight: 700;
    font-size: 1.25rem;
  }
}

.main__text > p {
  padding-top: 1.375rem;
  font-size: 13px;
}

@media (min-width: 64rem) {
  .main__text > p {
    padding-top: 0.5vh;
  }
}

@media (min-width: 87.25rem) {
  .main__text > p {
    padding-top: 2vh;
  }
}

.main__footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  -ms-grid-row-align: start;
      align-self: start;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10vw 39.8vw 10vw;
      grid-template-columns: 10vw 39.8vw 10vw;
  -webkit-column-gap: 5.6vw;
          column-gap: 5.6vw;
  padding: 0 8.5vw;
}

@media (min-width: 64rem) {
  .main__footer {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: footer;
    padding-left: 0;
    padding-top: 0vh;
    padding-bottom: 2vh;
    padding-right: 0;
    -ms-grid-columns: 2.5vw 12vw 2.5vw;
        grid-template-columns: 2.5vw 12vw 2.5vw;
    -webkit-column-gap: 3vw;
            column-gap: 3vw;
    height: 6.1vh;
  }
}

@media (min-width: 87.25rem) {
  .main__footer {
    -ms-grid-columns: 2.5vw 15vw 2.5vw;
        grid-template-columns: 2.5vw 15vw 2.5vw;
    -webkit-column-gap: 3vw;
            column-gap: 3vw;
  }
}

.main__footer #avatar {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
  width: 41px;
  height: 41px;
  border-radius: 50%;
}

.main__footer > h5 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.main__footer > h6 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
  font-size: 13px;
  font-weight: 500;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  color: #9eafc2;
}

@media (min-width: 64rem) {
  .main__footer > h6 {
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
}

.main__footer #shareIcon {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1 / 3 / 2 / 4;
  cursor: pointer;
}

.main__footer #shareIcon circle {
  fill: #ecf2f8;
}

.main__footer #shareIcon:hover circle, .main__footer :active circle {
  fill: #6d7f97;
}

.main__footer #shareIcon:hover path, .main__footer :active path {
  fill: white;
}

.overlay {
  position: absolute;
  bottom: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 26.4vw 8.8vw 8.8vw 8.8vw 8.8vw 8.8vw;
      grid-template-columns: 26.4vw 8.8vw 8.8vw 8.8vw 8.8vw 8.8vw;
  -ms-grid-rows: 9.7vh;
      grid-template-rows: 9.7vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 0;
  width: 100%;
  padding: 0;
  background-color: #6d7f97;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
  -webkit-box-shadow: 5px 10px 18px 5px #d1dbe6;
          box-shadow: 5px 10px 18px 5px #d1dbe6;
}

.overlay > h5 {
  letter-spacing: 4px;
  color: #9eafc2;
  -ms-grid-column-align: center;
      justify-self: center;
}

.overlay #overlay_shareIcon {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
  grid-area: 1 / 7 / 1 / 7;
  -ms-grid-column-align: start;
      justify-self: start;
}

.overlay #overlay_shareIcon circle {
  fill: #9eafc2;
}

.overlayShow {
  height: 10.2vh;
}

@media (min-width: 23.5rem) {
  .overlayShow {
    height: 15vh;
  }
}

@media (min-width: 64rem) {
  .overlay_medium {
    width: 17.2vw;
    height: 0;
    left: 35.8vw;
    bottom: 10.2vh;
    -ms-grid-columns: 6.88vw 3.44vw 3.44vw 3.44vw;
        grid-template-columns: 6.88vw 3.44vw 3.44vw 3.44vw;
    -ms-grid-rows: 6.9vh;
        grid-template-rows: 6.9vh;
    border-radius: 10px;
    overflow: visible;
    opacity: 0;
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
  }
  .overlay_medium > #overlay_shareIcon {
    opacity: 0;
  }
  .overlay_medium::after {
    content: " ";
    position: absolute;
    top: 46%;
    left: 28%;
    background-color: #6d7f97;
    width: 100px;
    height: 100px;
    -webkit-clip-path: polygon(58% 43%, 43% 28%, 72% 28%);
            clip-path: polygon(58% 43%, 43% 28%, 72% 28%);
  }
}

@media (min-width: 87.25rem) {
  .overlay_medium {
    left: 38.8vw;
  }
}
/*# sourceMappingURL=style.css.map */